<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>favorites</title>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div id = "favorites"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

<script>
async function apiGetAll () {
    try {
    var resp = await fetch('https://www.hikingproject.com/data/get-trails-by-id?ids=200600399-a9a827ab2b79c5ff46c5d9c3ff28936b')
    var data = await resp.json();
    console.log(data);
    $("#favorites").html("");
    return data;
    }

    catch (error){
    console.log(error);
    }
}
console.log(apiGetAll());

</script>
</body>