*{
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.red{
    color: red;
}

.white{
    color: white;
}

.box{
    margin-left: 300px;
    margin-top: 50px;
}


.left
{
    margin-right: 50px;
}

.width
{
    margin-top: 20px;
    box-shadow: 1px 1px 2px 2px;
    padding: 10px;
    margin: auto;
    width: 50%;
}

.middle
{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.wah
{
    margin-left: 20px;
}

#map {
    height: 100%;
    width: 65%;
    display: inline-block
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}
#target {
    width: 345px;
}

#hikingresults {
    width: 30%;
    height: 100%;
    color: black;
    display: inline-block;
}

.pad
{
    padding: 1%;
}

.blue
{
    height: 3%;
    width: 100%;
    background-color: blue;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    margin: auto;
}

.diffText{
    color: white;
    margin: auto;
}

.difficulty
{
    color: red;
}

.greenBlue
{
    background-color: rgb(13,152,186);
}

.green
{
    background-color: green;
}

.black
{
    background-color: black
}

.border
{
    border: 2px solid #202020;
    -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
    box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
}


@keyframes favme-anime {
  0%   { 
		opacity: 1;
		font-size: ms(0);
		-webkit-text-stroke-color: transparent;
	}
	25%	 { 
		opacity:.6;
		color: #FFF;
		font-size: ms(-2);
		-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: #DC3232;
	}
	75%	 { 
		opacity:.6;
		color: #FFF;
		font-size: ms(3);
		-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: #DC3232;
	}
  100% { 
		opacity: 1;
		font-size: ms(2);
		-webkit-text-stroke-color: transparent;
	}
}

@keyframes favme-hover {
	from {
		font-size: ms(3);
	}
	80% {
		font-size: ms(2);
	}
}

.favme {
	display:block;
	font-size: ms(2);
	width: auto;
	height: auto;
	cursor: pointer;
	box-shadow: none;
	transition: all .2s ease;
	color: #CBCDCE;
	margin: 0;
}
.favme.active {
    color: #DC3232;
}
.favme:hover {
    animation: favme-hover .3s infinite alternate;
}
.favme.is_animating {
    animation: favme-anime .3s;
}

.justifyTHiS{
  text-align: auto;
  text-justify: inter-word;
}

.white
{
    color: white;
    margin-left: 35%;
}

.also
{
    margin-left: 37%;

}